@model AdminLTE_011.Models.Kategori

@{
    ViewData["Title"] = "Hapus Kategori";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; // <-- Jangan lupa layout!
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Konfirmasi Hapus</h1>
                <h3>Apakah Anda yakin ingin menghapus data ini?</h3>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title">Detail Kategori</h3>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Nama)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Nama)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Tipe)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Tipe)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Hapus" class="btn btn-danger" /> |
                    <a asp-action="Index" class="btn btn-secondary">Batal</a>
                </form>
            </div>
        </div>
    </div>
</div>